<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleConjuntos.css">
    <title>Document</title>
</head>

<body id="body">

    <div id="game-container">
        <h2 id="progress">Murales: 0/3</h2>
        <div id="mural-frame">
            <img id="venn-image" src="" alt="Mural de Venn">
        </div>
        <div id="options-container">
        </div>
        <div id="message"></div>
    </div>

    <script src="../js/scriptConjuntos.js"></script>
</body>

</html>