<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&family=Cinzel:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/styleConjuntos.css">
    <title>Murales de Venn - Ruinas Matemáticas</title>
</head>

<body id="body">

    <h1 id="game-title">Los Murales de Venn</h1>

    <div id="mural-frame">
        <img id="venn-image" src="" alt="Mural de Venn">
    </div>

    <div class="progress-bar">
        <div class="segment" id="seg-1"></div>
        <div class="segment" id="seg-2"></div>
        <div class="segment" id="seg-3"></div>
    </div>

    <div id="game-container">
        <div id="options-container"></div>
        <div id="message"></div>
    </div>

    <script src="../js/scriptConjuntos.js"></script>
</body>

</html>