<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleInduccion.css">
    <title>Document</title>
</head>

<body>
    <div id="game-container">
        <h1>El Oráculo de Inducción</h1>
        <div id="quiz-card">
            <p id="question-text">Cargando acertijo...</p>
            <div id="options-container">
                
            </div>
        </div>
        <div id="message"></div>
    </div>
    <script src="../js/scriptInduccion.js"></script>
</body>

</html>