<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;700&family=IM+Fell+English&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Capstone: Las ruinas del imperio matemático</title>
</head>
<body class="intro-page">
    <div class="main-container">
        
        <header>
            <h1 class="main-title">
                Bienvenido a <br> <span>"Las ruinas del imperio matemático"</span>
            </h1>
        </header>
        <main class="content">
            <p class="description">
                ¡Prepárate para poner a prueba tu lógica y habilidades matemáticas mientras exploras este emocionante mundo!
            </p>
            <div class="form">
                <img src="../img/personajeFrente.png" alt="Peronaje">
                <label for="player-name">¿Cómo te llaman, explorador?</label>
                <input type="text" id="player-name" placeholder="Tu nick..." maxlength="24" autocomplete="off">
            </div>
            <button onclick="window.location.href='instruccionInduccion.html'" id="start-button" class="btn">
                Comenzar Expedición
            </button>
        </main>
    </div>

    <script src="../js/jugador.js"></script>
</body>
</html>