<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRelaciones.css">
    <title>Document</title>
</head>

<body>
    <div id="game-container">
        <h2 id="titulo-mision">Cámara de las Matrices</h2>
        <p id="instruccion-texto">Cargando acertijo...</p>

        <div id="matriz-grid" class="grid-3x3">
        </div>

        <button onclick="verificarMatriz()" class="btn-adventure">Verificar Patrón</button>
        <div id="message"></div>
    </div>
    <script src="../js/scriptRelaciones.js"></script>
</body>

</html>