<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRelaciones.css">
    <title>Document</title>
</head>

<body>
    <div id="game-container">
        <h3 id="progress">Matrices resueltas: 0/3</h3>

        <h2 id="titulo-mision">Cargando...</h2>
        <p id="instruccion-texto"></p>
<button onclick="verificarMatriz()" class="btn-adventure">Activar Mecanismo</button>
        <div id="matriz-grid" class="grid-3x3"></div>

        
        <div id="message"></div>
    </div>
    <script src="../js/scriptRelaciones.js"></script>
</body>

</html>